<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>代码转换</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Flight</a>
    </nav>
    <div class="container-fluid main">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <form>
                    <div class="form-group row">

                        <div class="col-sm-12">
                            <textarea class="form-control" name="" id="text_org"
                                rows="5"> 8.  GA315  Y   WE21JUN  SUBCGK HK7   1400 1535      SEAME  1 3    </textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-10">
                            <button type="button" onclick="transform()" class="btn btn-primary">
                                转换
                            </button>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-sm-12">

                            <textarea class="form-control" name="" id="text_trans" rows="5"></textarea>
                        </div>
                    </div>
                </form>
                <table class="table">
                    <thead>
                        <tr>
                            <th>航班号</th>
                            <th>日期</th>
                            <th>星期</th>
                            <th>行程</th>
                            <th>起飞</th>
                            <th>到达</th>
                            <th>机型</th>
                            <th>飞行时长</th>
                        </tr>
                    </thead>
                    <tbody id="list">

                    </tbody>
                </table>
                <button type="button" onclick="test()" class="btn btn-success">
                    复制到Excel
                </button>
            </div>
        </div>
    </div>
</body>
<!-- jQuery and JavaScript Bundle with Popper -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
<script>
    function countCharacters(str) {
        const chineseRegex = /[\u4e00-\u9fa5]/g; // 匹配中文字符的正则表达式
        let chineseCount = 0;
        let englishCount = 0;
        while (chineseRegex.exec(str)) {
            chineseCount++;
        }
        englishCount = str.length - chineseCount;
        return { chineseCount, englishCount };
    }

    // 月份英文简称数组
    const monthAbbreviations = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC'];
    const weekAbbreviations = ['MO', 'TU', 'WE', 'TH', 'FR', 'SA', 'SU'];
    const week_zh_Abbreviations = ['周一', '周二', '周三', '周四', '周五', '周六', '周日'];

    // 将月份英文简称转换为阿拉伯数字月份
    function getMonthNumber(monthAbbreviation) {
        return monthAbbreviations.indexOf(monthAbbreviation) + 1;
    }

    function getWeekNumber(weekAbbreviation) {
        let num = weekAbbreviations.indexOf(weekAbbreviation) + 1;
        return getWeek_zh_Number(num);
    }
    function getWeek_zh_Number(week_zh_Abbreviation) {
        return week_zh_Abbreviations[week_zh_Abbreviation - 1];
    }

    let IATACODE = localStorage.getItem("IATACODE");
    if (IATACODE == null) {
        $.get('IATA-CODE-utf8.txt', function (data) {
            localStorage.setItem("IATACODE", data);
        });
    }
    function getAirport(code) {
        let IATACODE = localStorage.getItem("IATACODE");
        const lines = IATACODE.split('\n');
        for (let i = 0; i < lines.length; i++) {
            if (lines[i].indexOf(code) !== -1) {
                return lines[i].split(',')[2];
            }
        }
    }
    function addspace(num) {
        let space = "";
        for (let index = 0; index < num; index++) {
            space += " ";
        }
        return space;
    }
    function getStrWidth(str) {
        const encoder = new TextEncoder();
        const bytes = encoder.encode(str);
        const byteLength = bytes.length;
        return byteLength;
    }
    function transform() {
        $("#list").html("");
        // 1.AN/WEIHUA MS 2.LIU/ZHENYU MR 3.WANG/JINGLIAO MR 4.WANG/JUN MR                
        // 航班号   时期        行程  
        // GA315   6月21日周三     SUBCGK泗水1-苏加诺-哈达3   1400   1535
        // 8.  GA315  Y   WE21JUN  SUBCGK HK7   1400 1535      SEAME  1 3    
        //*2.**GA315**J***WE21JUN**SUBCGK*HK1***1400*1535******SEAME**1*3**********
        //*8.**3U3936*E***TU27JUN**BKKTFU*HK6***1745*2130**********E*1*T1***********
        //*8.**3U3936*E***TU27JUN**BKKTFU*HK6***1745*2130**********E*1*T1***********
        let text_org = $("#text_org").val();
        var lines = text_org.split("\n");
        var maxwidth = 0;
        let text_trans = "";
        var list = [lines.length - 1];
        for (var i = 0; i < lines.length; i++) {
            var line = lines[i].trim();
            let f_no = line.substring(4, 9);
            let f_date_week = getWeekNumber(line.substring(15, 17));
            let f_date_day = line.substring(17, 19);
            let f_date_month = line.substring(19, 22);
            f_date = getMonthNumber(f_date_month) + "月" + f_date_day + "日";
            let f_route_dp = line.substring(24, 27);
            let f_route_dp_cn = getAirport(f_route_dp);
            let f_route_arv = line.substring(27, 30);
            let f_route_arv_cn = getAirport(f_route_arv);
            let f_time_dp = line.substring(37, 41);
            let f_time_arv = line.substring(42, 48);
            let f_tm_dp = line.substring(58, 60);
            let f_tm_arv = line.substring(60, 62);
            let full_route = f_route_dp + f_route_arv + f_route_dp_cn + f_tm_dp.trim() + "-" + f_route_arv_cn + f_tm_arv.trim();
            var route_width = countCharacters(full_route).chineseCount * 4 + countCharacters(full_route).englishCount * 2;
            if (route_width > maxwidth) {

                maxwidth = route_width;
            }
            let html_tmp = `<tr>
                            <td>${f_no}</td>
                            <td>${f_date}</td>
                            <td>${f_date_week}</td>
                            <td>${full_route}</td>
                            <td>${f_time_dp}</td>
                            <td>${f_time_arv}</td>
                            <td></td>
                            <td></td></tr>`;
            $("#list").append(html_tmp);
            list[i] = {
                "f_no": f_no,
                "f_date": f_date,
                "f_date_week": f_date_week,
                "full_route": full_route,
                "f_time_dp": f_time_dp,
                "f_time_arv": f_time_arv
            };
        }
        console.log(maxwidth);
        let title = "航班号   日期                行程" + addspace(maxwidth - 6) + "起飞    到达    机型    飞行时长";
        text_trans += title + "\n";
        for (let index = 0; index < list.length; index++) {
            const element = list[index];
            var route_width = countCharacters(element.full_route).chineseCount * 4 + countCharacters(element.full_route).englishCount * 2;
            text_trans += element.f_no + "   " + element.f_date + element.f_date_week + "   " + element.full_route + addspace(maxwidth - route_width) + "   " + element.f_time_dp +
                "   " + element.f_time_arv + "\n";;
        }
        $("#text_trans").val(text_trans);
        //console.log(text_trans);
    }
    function copy() {
        const table = $('table'); // 获取HTML中的table元素
        const range = document.createRange(); // 创建Range对象
        range.selectNode(table[0]); // 将Range对象设置为所选中的table元素
        const selection = window.getSelection(); // 获取Selection对象
        selection.removeAllRanges(); // 移除所有现有的Range对象
        selection.addRange(range); // 添加新的Range对象
        document.execCommand('copy'); // 复制选中的内容到剪切板
    }
</script>

</html>